body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#scoreTable {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

#scoreTable.hidden {
    opacity: 0;
    transform: translateY(-30px);
}

#videoContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}

video {
    width: 100%;
    height: 100%;
}
